body {
    margin-left: 25px;
}

.box {
    width: 200px;
    padding: 20px;
    border: 10px solid black;
    margin: 15px;
    background: #f0f9ff;
}

.ayuda {
    white-space: pre-line;
    font-family: monospace;
}

/*
    TODO: Calcula el ancho total visible:
    total = width + (padding-left + padding-right) + (border-left + border-right) + (margin-left + margin-right)
*/

/*
    Respuesta: total = 200 + (20 * 2) + (10 * 2) + (15 * 2) = 290
    Nota: DevTools no cuenta al margen como parte de las dimensiones del elemento, aunque sí lo muestra en el modelo de caja. La razón es que el margen separa al elemento de los demás, pero no forma parte de su tamaño físico
*/