.card {
    border-radius: 10px;
    box-sizing: content-box;
    width: 320px;

    padding: 16px;
    border: 2px solid black;
    margin: 24px;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.card h2 {
    margin: 12px 0 8px;
}

.card p {
    margin: 0 0 8px;
}