.tab {
    display: none;
    padding: 16px;
    border: 1px solid #e5e7eb;
    margin-top: 10px;
}

/* Objetivo: mostrar solo la sección que está en :target */
.tab:target {
    display: block;
}

/*
Sirve principalmente para mostrar u ocultar contenido dinámicamente según el enlace que se haya visitado, sin necesidad de JS
*/