.wrap {
    background: #f0fff4;
    border: 1px solid #9ae6b4;
    min-height: 120px;

    margin: 10px; /* Margen base para móvil */
}

/* Tablet: entre 768px y 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .wrap {
        margin: 20px;
    }
}

/* Escritorio: 992px en adelante */
@media (min-width: 992px) {
    .wrap {
        margin: 40px;
    }
}