.tag {
    padding: 4px 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    margin: 4px;
    display: inline-block;
}

/* Objetivo: colorea todas las .tag en gris, excepto .destacado que debe quedar por defecto */
/* Todas las .tag excepto las que tienen .destacado */
.tag:not(.destacado) {
    background-color: lightgrey;
}