.box {
    width: 120px;
    height: 50px;
    background: #cde;
    display: grid;
    place-items: center;
    border: 1px solid #9ab;
}

.one {
    margin: 20px 10px;
}

.two {
    margin: 20px 10px 20px;
}

.three {
    margin: 20px 10px 20px 10px;
}